.blog-header-logo {
    font-size: 2rem;
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-underline>a:hover {
    /* border-bottom: 2px solid black !important; */
    color: #483D8B !important;
    color: #0000CD !important;
}

.nav-underline>a.lang {
    color: inherit;
    text-decoration: none;
    border-bottom: none !important;
}

.nav-underline>a.lang:hover {
    color: black !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

.nav-underline>a.lang:hover img {
    outline: 1px solid black !important;
    outline-offset: -1px !important;
    border-bottom: none !important;
}

.house1 {
    bottom: 10px;
    position: relative;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: rgba(0, 228, 0);
}

.house1::before {
    content: '';
    position: absolute;
    top: -40%;
    left: 50%;
    height: 35px;
    width: 35px;
    transform: translate(-50%) rotate(45deg);
    border-top: 3px solid black;
    border-left: 3px solid black;
    background-color: rgba(0, 228, 0);
    z-index: -2
}

.house1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    background:
        linear-gradient(to bottom right, rgb(0, 228, 0) 50%, transparent 50%) bottom right,
        linear-gradient(to bottom left, rgb(0, 228, 0) 50%, transparent 50%) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}


.house2 {
    bottom: 10px;
    position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: rgba(0, 228, 0);
}

.house2::before {
    content: '';
    position: absolute;
    top: -40%;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translate(-50%) rotate(45deg);
    border-top: 3px solid black;
    border-left: 3px solid black;
    background-color: rgba(0, 228, 0);
    z-index: -2
}

.house2::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    background:
        linear-gradient(to bottom right, rgb(0, 228, 0) 50%, transparent 50%) bottom right,
        linear-gradient(to bottom left, rgb(0, 228, 0) 50%, transparent 50%) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}