{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}

<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div id="map"></div>
</div>

{% endblock main %}



{% block mycss %}
<link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}" />
<style>
    .maplink {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    #map {
        height: 580px;
    }
</style>

{% endblock mycss %}

{% block myjs %}
<script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
<script>
    let xarita = [];
    let markers = [];
    let map = L.map('map', { 'attributionControl': false }).setView([41.30415760, 69.29479420], 12);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    map.invalidateSize();

    document.addEventListener("DOMContentLoaded", function (event) {

        var LeafIcon = L.Icon.extend({
            options: {
                iconSize: [25, 65],
            }
        });
        let str = "{{devices_js|safe}}";
        str = str.replaceAll("\"", "&quot;")
        str = str.replaceAll("'", "\"");
        str = str.replace(/Decimal\("([0-9.]+)"\)/g, '$1');
        devices = JSON.parse(str);

        function getColor(value) {
            if (!value) return 'rgba(189, 195, 199)';
            if (value <= 50) return 'rgba(0, 228, 0)';     // Good 
            return 'rgba(255, 235, 59)'; // Moderate 
            // if (value <= 100) return 'rgba(255, 235, 59)'; // Moderate 
            // if (value <= 150) return 'rgba(255, 145, 0)';  // Unhealthy for Sensitive Groups
            // if (value <= 200) return 'rgba(255, 0, 0)';    // Unhealthy 
            // if (value <= 300) return 'rgba(143, 63, 151)'; // Very Unhealthy
            // return 'rgba(126, 0, 35)';                     // Hazardous
        }


        devices.forEach(device => {
            const lat = parseFloat(device.lat);
            const lng = parseFloat(device.lng);
            if (!device.is_indoor)
                marker_html = `<div style="
                                background-image: url('{% static "icons/location.png" %}');
                                background-size: cover;
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 36px; 
                                height: 48px; 
                                 display: flex; 
                                 align-items: start; 
                                 justify-content: center; 
                                 font-weight: bold;"><span style="width: 30px;
                                                            height: 30px;
                                                            border-radius: 50%;
                                                            background-color: ${color};
                                                            color: black;
                                                            text-align: center;
                                                            padding: 2px 0;
                                                            font-size: 16px;
                                                            margin-top: 2.5px;
                                    ">${!device.pm25 ? '!' : device.pm25}</span></div>`;
            else
                marker_html = `<div style="
                                background-image: url('{% static "icons/home-location.png" %}');
                                background-size: cover;
                                background-repeat: no-repeat;
                                position: absolute;
                                width: 36px; 
                                height: 48px; 
                                 display: flex; 
                                 align-items: start; 
                                 justify-content: center; 
                                 font-weight: bold;"><span style="width: 30px;
                                                            height: 30px;
                                                            border-radius: 50%;
                                                            background-color: ${color};
                                                            color: black;
                                                            text-align: center;
                                                            padding: 2px 0;
                                                            font-size: 16px;
                                                            margin-top: 2.5px;
                                    ">${!device.pm25 ? '!' : device.pm25}</span></div>`;
            const color = getColor(device.pm25);
            const icon = L.divIcon({
                className: 'custom-icon',
                html: marker_html,
                iconSize: [35, 47],
                iconAnchor: [17.5, 49] // Center the icon on the location
            });

            var marker = L.marker([lat, lng], { icon, riseOnHover: true }).addTo(map);

            let link = "{% url 'view_measurements' 12345 %}".replace(/12345/, device.pk);
            marker.bindPopup(`<a href='${link}' target=_blank>${device.name}</a><br>
                                PM 2.5: ${device.pm25} (${device.when_local})
                                `);
            markers.push(marker);
        });


    });

</script>
{% endblock myjs %}